#signup {
  background-image: url("./assets//signup.jpg");
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
  